body {
  background-image: url('https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  background-position: center;
}
/* https://images.pexels.com/photos/1823681/pexels-photo-1823681.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 */

.App {
  text-align: center;
  box-sizing: border-box;
}
nav {
  height: 10vh;
  width: 100vw;
  background-color: rgb(10, 2, 39);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: .8;
}
nav > div {
  width:400px;
}
.myname {
  color: ghostwhite;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}
.links {
  text-decoration: none;
  color: ghostwhite;
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.icon-logos {
  margin: 5px;
  color: ghostwhite;
}

@media screen and (max-width: 700px) {
  .myname_container {
    display: none;
  }
}